# Entorno virtual
venv/
env/
ENV/
.venv

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribuciones / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyCharm
.idea/

# VS Code
.vscode/

# Variables de entorno
.env
.env.local

# Jupyter Notebook
.ipynb_checkpoints

# Modelos guardados (opcional)
*.pkl
*.joblib
*.h5
*.model

# Logs
*.log

# OS
.DS_Store
Thumbs.db



